<ion-view title="Aggiungi evento" id="page9" ng-controller="addEventCtrl">
        <ion-content padding="true" class="has-header">
            <div class="row row-center">
              <div class="col">
            
                <div id="login-form"></div>
            
                <form>
                  <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="artista" ng-model="data.artista">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="luogo" ng-model="data.luogo">
                    </label>

                    <label class="item item-input">
                            <input type="text" placeholder="prezzo" ng-model="data.prezzo">
                    </label>
                    <h5>Data:</h5>
                    <label class="item item-input">
                    <select name="giorni" ng-model="data.giorno">
                            <option value="" selected="selected">GG</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                    </select>
                    <select name="mesi" ng-model="data.mese">
                            <option value="" selected="selected">MM</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                    </select>
                    <select name="anni" ng-model="data.anno">
                            <option value="" selected="selected">YYYY</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                    </select>
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="ora:        Es: 15:30" ng-model="data.orario">
                    </label>
                    
                  </div>
            
                  <button class="button button-block button-positive button-login" ng-click="submit()">Aggiungi</button>
                </form>
            
              </div>
            </div>
        </ion-content>
      </ion-view>
      