<ion-view title="Events" id="page8">
        <ion-content padding="true" class="has-header">
          <ion-list id="events-list2">
            <ion-item ng-repeat="event in events track by $index" align="center">
             <b>{{event.artista}}</b> <p> 
                {{event.luogo}} <p> 
                {{event.data}} <p>
                {{event.prezzo}}€ <p>
                <button class="button button-positive button-login button-small" ng-click="modifica()">Modifica</button>
                <button class="button button-positive button-login button-small" ng-click="elimina()">Elimina</button>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>