<ion-view title="Home" id="page1" ng-controller="homeCtrl">
    <ion-content padding="true" class="has-header">
        <div class="row row-center">
          <div class="col">
            <div id="home-page"></div>
              <button class="button button-block button-positive button-login button-large" ui-sref="login()">CLIENTE</button>
              <button class="button button-block button-positive button-login button-large" ui-sref="loginorg()">ORGANIZZATORE</button>
          </div>
        </div>
    </ion-content>
  </ion-view>