<ion-view title="Login" id="page1" ng-controller="loginCtrl">
  <ion-content padding="true" class="has-header">
      <div class="row row-center">
        <div class="col">
      
          <div id="login-form"></div>
      
          <form>
            <div class="list">
              <label class="item item-input">
                <input type="email" placeholder="email" ng-model="data.email">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
              </label>
            </div>
      
            <button class="button button-block button-positive button-login" ng-click="submit()">Login</button>
            <button class="button button-block button-positive button-login" ui-sref="signup()">Signup</button>
          </form>
      
        </div>
      </div>
  </ion-content>
</ion-view>