<ion-view title="" id="page7" ng-controller="orgChoiceCtrl" hide-back-button="true">
        <ion-content padding="true" class="has-header">
            <div class="row row-center">
              <div class="col">
                <div id="home-page"></div> 
                  <button class="button button-block button-positive button-login button-large" ui-sref="eventsorg()">Lista eventi</button>
                  <button class="button button-block button-positive button-login button-large" ui-sref="addevent()">Aggiungi evento</button>
                  <button class="button button-block button-dark button-small" ng-click="logout()">Logout</button>
              </div>
            </div>
        </ion-content>
      </ion-view>